# Created by https://www.toptal.com/developers/gitignore/api/vivado,xilinxvivado
# Edit at https://www.toptal.com/developers/gitignore?templates=vivado,xilinxvivado

### Vivado ###
#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########
#Exclude all
*
!*/
!.gitignore
###########################################################################
##	VIVADO
#Source files:
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.xdc

# End of https://www.toptal.com/developers/gitignore/api/vivado,xilinxvivado